/*
 * Style tweaks
 * --------------------------------------------------
 */
body {
    background-color: #E0ECE5;
    font-family: sans-serif;
    font-size: 12px;
}

.navigation {
    margin-top: 20px;
    height: 12px;
}
.page-title {
    padding-bottom: 9px;
    margin: 14px 0 5px;
    font-size: 30px;
}

ul {
    padding-left: 0;
}
li {
    list-style-type: none;
    line-height: 2.4;
}

.table-directory > thead > tr > th {
    border-bottom: none;
}

.table-directory > tbody {
    background-color: #fff;
}

.table-directory > thead > tr > th, .table-directory > tbody > tr > td{
    line-height: 2.6;
}
.table-directory > tbody > tr:first-child > td{
    border-top: none;
}

.table-directory > tbody > tr:first-child > td:first-child{
    border-radius: 10px 0 0 0;
}
.table-directory > tbody > tr:first-child > td:last-child{
    border-radius: 0 10px 0 0;
}
.table-directory > tbody > tr:last-child > td:first-child{
    border-radius: 0 0 0 10px;
}
.table-directory > tbody > tr:last-child > td:last-child{
    border-radius: 0 0 10px 0;
}

.form-search-header {
    line-height: 2.6;
    padding: 8px;
}

.form-search-body {
    border: 1px solid #c4c4c4;
    border-radius: 10px;
    padding: 16px 16px 48px 16px;
}
.form-search-body > input {
    height: 26px;
}

.table-field {
    max-width: 500px;
}
.table-field > thead > tr > th, .table-field > tbody > tr > td{
    line-height: 1.8;
    border-top: none;
}

.form-buttons > li {
    margin: 0 6px 6px 0;
    cursor: pointer;
}

.form-control {
    font-size: 12px;
    height: 27px;
    padding: 6px 10px;
}
.form-control[type="number"] {
    width: 70px;
}

.field-date {
    width: 150px;
}

.input-group-addon {
    cursor: pointer;
}
.input-group-addon div{
    width: 14px;
    height: 100%;
    display: inline-block;
    background: url(/img/calendar.png) no-repeat;
    background-size: contain;
    opacity: 0.7;
}
