.btn-green {
    border: 1px solid #8ed058;
    -webkit-box-shadow: #474747 0px 0px 5px;
    -moz-box-shadow: #474747 0px 0px 5px;
    box-shadow: #474747 0px 0px 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 12px;
    font-family: arial, helvetica, sans-serif;
    padding: 2px 10px 2px 10px;
    text-decoration: none;
    display: inline-block;
    text-shadow: 0px 1px 0 rgba(255, 255, 255, 0.4);
    /*font-weight: bold;*/
    color: #305224;
    background-color: #A9DB80;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#A9DB80), to(#96C56F));
    background-image: -webkit-linear-gradient(top, #A9DB80, #96C56F);
    background-image: -moz-linear-gradient(top, #A9DB80, #96C56F);
    background-image: -ms-linear-gradient(top, #A9DB80, #96C56F);
    background-image: -o-linear-gradient(top, #A9DB80, #96C56F);
    background-image: linear-gradient(to bottom, #A9DB80, #96C56F);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#A9DB80, endColorstr=#96C56F);
}

.btn-green:hover {
    border: 1px solid #8ed058;
    background-color: #8ED058;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#8ED058), to(#7BB64B));
    background-image: -webkit-linear-gradient(top, #8ED058, #7BB64B);
    background-image: -moz-linear-gradient(top, #8ED058, #7BB64B);
    background-image: -ms-linear-gradient(top, #8ED058, #7BB64B);
    background-image: -o-linear-gradient(top, #8ED058, #7BB64B);
    background-image: linear-gradient(to bottom, #8ED058, #7BB64B);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#8ED058, endColorstr=#7BB64B);
}

.btn-gray {
    border: 1px solid #b5b5b5;
    -webkit-box-shadow: #606060 0px 0px 5px;
    -moz-box-shadow: #606060 0px 0px 5px;
    box-shadow: #606060 0px 0px 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 12px;
    font-family: arial, helvetica, sans-serif;
    padding: 2px 10px 2px 10px;
    text-decoration: none;
    display: inline-block;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
    color: #494949;
    background-color: #FFFFFF;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#CFCFCF));
    background-image: -webkit-linear-gradient(top, #FFFFFF, #CFCFCF);
    background-image: -moz-linear-gradient(top, #FFFFFF, #CFCFCF);
    background-image: -ms-linear-gradient(top, #FFFFFF, #CFCFCF);
    background-image: -o-linear-gradient(top, #FFFFFF, #CFCFCF);
    background-image: linear-gradient(to bottom, #FFFFFF, #CFCFCF);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#FFFFFF, endColorstr=#CFCFCF);
}

.btn-gray:hover {
    border: 1px solid #7A7A7A;
    background-color: #EEEEEE;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#EEEEEE), to(#C7C7C7));
    background-image: -webkit-linear-gradient(top, #EEEEEE, #C7C7C7);
    background-image: -moz-linear-gradient(top, #EEEEEE, #C7C7C7);
    background-image: -ms-linear-gradient(top, #EEEEEE, #C7C7C7);
    background-image: -o-linear-gradient(top, #EEEEEE, #C7C7C7);
    background-image: linear-gradient(to bottom, #EEEEEE, #C7C7C7);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#EEEEEE, endColorstr=#C7C7C7);
}