<div class="navigation container">
    <span ng-repeat="item in path">
        <a href="{{ item.path }}">{{ item.name }}</a>&#8594;
    </span>
</div>

<div class="page container">
    <div class="page-title">{{title}}</div>
    <ul class="directories">
        <li class="directory" ng-repeat="directory in directories">
            <a href="/directory/{{ directory.id }}">{{ directory.name }}</a>
        </li>
    </ul>
</div>
