<div class="navigation container">
    <span ng-repeat="loc in location">
        <a href="{{ loc.path }}">{{ loc.name }}</a>&#8594;
    </span>
</div>

<div class="page container">
    <div class="page-title">{{ title }}</div>
    <button class="btn btn-green">+ Создать новый</button>
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <table class="table table-directory">
                <thead>
                <tr>
                    <th ng-repeat="field in fields" data-id="{{ field.id }}" data-type="{{ field.type }}">
                        {{ field.name }}
                    </th>
                </tr>
                </thead>
                <tbody class="white-body">
                <tr ng-repeat="item in items" data-id="{{ item.id }}">
                    <td><a href="/directory/{{ directory.id }}/field/{{ item.id }}">{{ item.name }}</a></td>
                    <td>{{ item.weight }}</td>
                    <td>{{ item.point }}</td>
                    <td>{{ item.endDate }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="form-search">
                <div class="form-search-header">Фильтр</div>
                <div class="form-search-body">
                    <input type="text" class="form-control" placeholder="Поиск">
                </div>
            </div>
        </div>
    </div>

</div>

