<div class="navigation container">
    <span ng-repeat="loc in location">
        <a href="{{ loc.path }}">{{ loc.name }}</a>&#8594;
    </span>
</div>

<div class="page container">
    <div class="page-title">{{ title }}</div>
    <table class="table table-field">
        <tbody>
        <tr ng-repeat="item in items" data-id="{{ item.id }}">
            <td>{{ item.name }}</td>
            <td ng-switch on="item.type">
                <div ng-switch-when="TEXT"><input class="form-control" type="text" value="{{ item.value }}"/></div>
                <div ng-switch-when="INTEGER"><input class="form-control" type="number" value="{{ item.value }}"/></div>
                <div ng-switch-when="FLOAT"><input class="form-control" type="number" value="{{ item.value }}"/></div>
                <div ng-switch-when="DATE">
                    <div class="input-group field-date">
                        <input class="form-control" type="date" ng-model="item.value"/>
                        <span class="input-group-addon"><div></div></span>
                    </div>

                </div>



                <div ng-switch-when="TEXTAREA"><textarea class="form-control" name="{{ item.id }}" id="{{ item.id }}" cols="30"
                                                         rows="3" placeholder="{{ item.value }}"></textarea></div>
                <div ng-switch-when="SELECT">
                    <select class="form-select">
                        <option ng-repeat="val in item.values" value="{{ val.id }}">{{ val.name }}</option>
                    </select>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <ul class="form-buttons">
        <li class="btn-green">Сохранить</li>
        <li class="btn-gray">Отменить изменения</li>
        <li class="btn-gray">Удалить</li>
    </ul>
</div>
